body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

h2 {
  padding:1px;
}

i {
  padding: 3px;
  color:  rgb(0, 24, 0);
  font-size: medium;
  width: 20px;
}

.info {
  background-color: rgba(19, 75, 99, 0.582);
  padding: 14px;

}